streamlit
torch
transformers==4.43.4
safetensors
pytest
requests
beautifulsoup4
st-annotated-text
st-click-detector
asyncio
uuid
urllib3
datetime
qdrant-client
fastembed
numpy
matplotlib
json
pytest-asyncio